In [30]:
path = '../raw/energy_europe_price.csv'

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv(path, index_col=0)

In [33]:
df.index = pd.to_datetime(df.index)

In [34]:
pd.read_csv(path, index_col=0, parse_dates=True)

,AT,BE,BG,HR,CZ,DE_LU,DK_1,EE,FI,MK,...,PL,PT,RO,SE_1,RS,SK,SI,ES,CH,UA_IPS
2020-01-01 00:00:00+00:00,38.60,38.60,68.57,38.60,30.40,38.60,31.77,28.45,28.45,NaN,...,34.67,38.60,145.27,28.45,29.06,30.40,38.60,38.60,34.04,NaN
2020-01-01 01:00:00+00:00,36.55,36.55,58.99,36.55,28.53,36.55,31.57,27.90,27.90,NaN,...,33.30,36.55,136.33,27.90,31.11,28.53,36.55,36.55,31.52,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 22:00:00+00:00,9.35,3.17,14.95,12.45,7.44,2.44,26.87,40.01,40.01,82.65,...,35.70,71.96,14.95,26.87,5.71,15.11,11.02,71.96,9.51,57.0
2023-12-31 23:00:00+00:00,0.10,0.10,0.10,0.10,0.10,0.10,16.99,38.37,38.37,105.14,...,76.69,63.33,0.10,29.56,7.07,0.10,0.10,63.33,25.97,57.0

In [25]:
df = pd.read_parquet('../raw/energy_spain_generation_years_ts.parquet')

In [27]:
df.index.name = 'datetime'

In [29]:
df.to_csv('../raw/energy_spain_generation_years_ts.csv')