## FILTRAR LOS DATOS DE LA LIBRERIA "PANDA" CON MÁSCARAS EN MATRICES:

## DATOS

In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('data/gapminder.csv',index_col=0)

**PREGUNTA: No entiendo porque hay que introducir una columna como índice, si realmente no te lo está pidiendo el ejercicio.**

Por otro lado, entiendo que la definición de la variables, da igual que usemos las que utiliza el profesor como cualquier otras,
mientras se entienda que hacen referencia al ejercicio solicitado.

In [63]:
df

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
...,...,...,...,...,...,...,...
Vietnam,Asia,2007,74.249,85262356,2441.576404,VNM,704
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887
Zambia,Africa,2007,42.384,11746035,1271.211593,ZMB,894
Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

A continuación creamos una variable en la que filtrará sobre la tabla los valores en la columna Continent, y le asignaremos el valor 'Asia" para ello utilizaremos 2 signo iguales.

## CONDICIONAL SIMPLE

## Crear una máscara:
      mascara también es una variable
      mascara = variable['columna'] == 'ValorDeLaColumna'

In [64]:
df_countries = df['continent'] == 'Asia'

In [65]:
df_countries

country
Afghanistan            True
Albania               False
Algeria               False
Angola                False
Argentina             False
                      ...
Vietnam                True
West Bank and Gaza     True
Yemen, Rep.            True
Zambia                False
Zimbabwe              False
Name: continent, Length: 142, dtype: bool

Ahora cogemos la primera variable que era df y le añadimos a continuación la variable filtro_asia entre corchetes para que filtre sobre la tabla el valor 'Asia'

## FILTRAR DATOS CON MASK

Con el siguiente filtro, filtramos la variables df con el filtro_asia, por lo que cuando se muestren los datos, solo tendrían que aparecer los datos que estén dentro del continente de "Asia".

In [66]:
df[df_countries]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
Bangladesh,Asia,2007,64.062,150448339,1391.253792,BGD,50
Cambodia,Asia,2007,59.723,14131858,1713.778686,KHM,116
China,Asia,2007,72.961,1318683096,4959.114854,CHN,156
"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670,HKG,344
India,Asia,2007,64.698,1110396331,2452.210407,IND,356
Indonesia,Asia,2007,70.650,223547000,3540.651564,IDN,360
Iran,Asia,2007,70.964,69453570,11605.714490,IRN,364
Iraq,Asia,2007,59.545,27499638,4471.061906,IRQ,368
Israel,Asia,2007,80.745,6426679,25523.277100,ISR,376
Japan,Asia,2007,82.603,127467972,31656.068060,JPN,392
Jordan,Asia,2007,72.535,6053193,4519.461171,JOR,400
"Korea, Dem. Rep.",Asia,2007,67.297,23301725,1593.065480,KOR,410
"Korea, Rep.",Asia,2007,78.623,49044790,23348.139730,KOR,410
Kuwait,Asia,2007,77.588,2505559,47306.989780,KWT,414
Lebanon,Asia,2007,71.993,3921278,10461.058680,LBN,422
Malaysia,Asia,2007,74.241,24821286,12451.655800,MYS,458
Mongolia,Asia,2007,66.803,2874127,3095.772271,MNG,496
Myanmar,Asia,2007,62.069,47761980,944.000000,MMR,104
Nepal,Asia,2007,63.785,28901790,1091.359778,NPL,524
Oman,Asia,2007,75.640,3204897,22316.192870,OMN,512
Pakistan,Asia,2007,65.483,169270617,2605.947580,PAK,586
Philippines,Asia,2007,71.688,91077287,3190.481016,PHL,608
Saudi Arabia,Asia,2007,72.777,27601038,21654.831940,SAU,682
Singapore,Asia,2007,79.972,4553009,47143.179640,SGP,702
Sri Lanka,Asia,2007,72.396,20378239,3970.095407,LKA,144
Syria,Asia,2007,74.143,19314747,4184.548089,SYR,760
Taiwan,Asia,2007,78.400,23174294,28718.276840,TWN,158
Thailand,Asia,2007,70.616,65068149,7458.396327,THA,764
Vietnam,Asia,2007,74.249,85262356,2441.576404,VNM,704
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

## NUMÉRICO (ESTO NO ME FUNCIONA Y NO SE VISUALIZAR EL ERROR)

**EJERCICIO:**: Filtra countries con `lifeExp superior a 80` años.

In [ ]:
mask_80 = df_countries['lifeExp'] > 80
mask_80

PREGUNTA FILTRADO:
Si en lugar de haber utilizado la variable df_countries, quisiera hacer el filtro cogiendo la variable inicial df...

¿Sería correcto filtrar de esta forma? En este caso da error porque dice que es Ambiguo.

**mask_80 = df['lifeExp'] > 80 and df['country']== 'Asia'**
**mask_80**

## FILTRAR DATEFRAME (o matriz de datos), con la Máscara.

In [ ]:
df_countries[mask_80]